/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* Base */

@import "base/variables";
@import "base/mixins";
@import "base/normalize";
@import "base/base";

/* Modules */

@import "modules/blocks";
@import "modules/buttons";
@import "modules/components";
@import "modules/forms";
@import "modules/sections";
@import "modules/typography";

/* LayOuts */

@import "layouts/footer";
@import "layouts/header";
@import "layouts/nav";
@import "layouts/blog";






body {
font-family: $base-font-family;
font-size: $base-font-size;
    line-height: 1.7em;
    color: $base-font-color;
    text-decoration: none;
    h4 {
    font-size: 2em;
        color: #479C56;
    }

}

a {
color: $primary-color;
}
ul,li {
list-style: none;
}
input, textarea, button {
    @include border-radius(0px);
    
   }

input {
width: 50%;
    height: 50px;
    border-radius: 2%;
    text-align: center;
}







