
body {
font-family: $base-font-family;
font-size: $base-font-size;
    line-height: 1.7em;
    color: #666666;

}

a {
color: #00aff0;
}
ul,li {
list-style: none;
}
input, textarea, button {
border-radius: 0;}
img.device {
    width: 100%;
}